@model VTYS_Proje.Models.Personel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Personel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kisi.AdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kisi.AdSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IseBaslamaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IseBaslamaTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
