@model IEnumerable<VTYS_Proje.Models.Personel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kisi.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IseBaslamaTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kisi.AdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IseBaslamaTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonelID })
        </td>
    </tr>
}

</table>
