@model VTYS_Proje.Models.SatinAlma

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SatinAlma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Personel.PersonelID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personel.PersonelID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tedarikci.TedarikciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tedarikci.TedarikciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SatinAlmaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SatinAlmaTarihi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SatinAlmaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
