@model VTYS_Proje.Models.Kargo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Kargo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KargoAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KargoAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KargoAdresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KargoAdresi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KargoTelefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KargoTelefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KargoWeb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KargoWeb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KargoEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KargoEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KargoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
