@model IEnumerable<VTYS_Proje.Models.Kargo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KargoAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KargoAdresi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KargoTelefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KargoWeb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KargoEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KargoAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KargoAdresi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KargoTelefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KargoWeb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KargoEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KargoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KargoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KargoID })
        </td>
    </tr>
}

</table>
